* {
    margin: 0;
    padding: 0;
}

.about {
    width: 100%;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    margin-top: 10px;
    background-color: rgb(250, 250, 250);
}

.main {
    display: flex;
    text-align: center;
    width: 1000px;

    justify-content: space-around;
}

.main-content {
    height: 369px;
    flex-basis: 555px;
    padding: 20px;
}

.main-content p{
    text-align: left;
    width: 100%;
    padding-bottom: 10px;
}

.main-content h1{
    text-align: left;
    padding-bottom: 10px;
}

.about {
    padding: 15px;
}

.button {
    margin-top: 15px;
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 15px;
    font-weight: 100;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .button:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }